html
  head
  body
    p(style='text-align: center;') &nbsp;
    p(style='text-align: center;') &nbsp;
    h3(style='text-align: center;')
      | Pre-Vetted highly trained software engineers ready to start a discussion with your team.
    p(style='text-align: center;')
      | My Job: Meet, wine, dine, and screen the worlds best 
      span(style='color: #008000;') software engineers
      |  and understand their personality + stengths and weaknesses. I spend many hours pair programming various freelance projects with the candidates to make sure they have a very high level of experience and technical aptitude solving complex problems quickly with the most relevant tech stack. I achieved top 1% on multiple coding test platforms such as codewars.com and can quickly differentiate the newbs from the ninjas.
    h4(style='text-align: center;')
      strong Fee Model Options
    p(style='text-align: center;') Per Seat Fee Model: Up front for candidates. Starts from $7,500/Position.
    p(style='text-align: center;')
      | Success Based Commission Model: If you hire one of my contacts and everything works out we charge 20% of their first 12 months salary paid over 12 month with an up front retainer of $5,000. Unlimited candidate intro&rsquo;s until the position is filled. Retainer will be aplied to 20% upon permanent hire.
    h4(style='text-align: center;')
      br
      em Founder and CEO
    p(style='text-align: center;')
      | David Yomtobian 
      img(src='https://html-online.com/editor/tinymce4_6_5/plugins/emoticons/img/smiley-cool.gif', alt='cool')
      br
      | 646.427.9494
      br
      a(href='mailto:David@Yomtobian.com') David@Yomtobian.com
    p(style='text-align: center;') &nbsp;
    p(style='text-align: center;') Hires made in 2019: 5

